.sd-root {
  position: relative;
  padding: 0;
  margin: 0;
}

.sd-overlay {
  position: fixed;
  z-index: 1000000;
  inset: 0;
  height: 100vh;
  width: 100vw;
  background-color: oklch(0.5237 0.1776 27.53 / 50%);
  backdrop-filter: blur(5px);

  /* text */
  font-family: Helvetica, sans-serif;
  -webkit-text-stroke: 1px black;
  color: gold;
  overflow-wrap: break-word;
  font-weight: bold;
  text-align: center;
  font-size: calc(100vh / 25);
  text-overflow: clip;
}

.sd-control {
  all: initial;
  display: flex;
  flex-direction: column;
  z-index: 1000000000;
  height: fit-content;
  width: fit-content;
  margin-block: auto;
  margin-inline: auto;
  padding: 20px;
  position: fixed;
  gap: 4px;
  inset: 0;
  border-radius: 5px;
  background-color: black;
}

.sd-control__buttons {
  all: initial;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.sd-control__input {
}

.sd-control__note {
  all: initial;
  font-family: Helvetica, sans-serif !important;
  max-width: 300px;
  width: 100%;
  color: red !important;
  font-size: 20px !important;
  font-weight: bold;
  padding: 10px !important;
}
